<div id="<%= dom_id ecole %>">
  <p>
    <strong>Nom:</strong>
    <%= ecole.nom %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= ecole.adresse %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= ecole.type_ecole %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= ecole.telephone %>
  </p>

  <p>
    <strong>Ouvert:</strong>
    <%= ecole.ouvert %>
  </p>

</div>
